/* Contacts CSS */
.flexContact  {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-image: var(--background-blend-linear1);
  }
  
  .flexContact > div {
    text-align: center;
    padding: 1em 1em;
    width: auto;
    height: auto;
    color: var(--primary-theme1);
  }


  .flexContact h1 {
    color: var(--heading1-clr);
    font-size: var(--fs-heading);
  }
  
  .flexContact h2 {
    color: var(--heading2-clr)
  }
  
  .flexContact>div .a {
    font-weight: var(--fw-bright);
    font-size: 3em;
    color: var( --link1-clr);
    font-family: var(--font-sec);
    padding: 1em 1em;
    text-shadow: .05em .05em var(--secondary-theme2);
  }
  
  .flexContact>div .a:hover {
    font-weight: var(--fw-bright-wow);
    color: var( --link1-hover);
  }