/* Contacts CSS */
.flexContact  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .flexContact > div {
    background-image: var(--background-blend-linear1);
    margin: 1em;
    padding: 2em;
    font-size: 1em;
    color: var(--primary-theme1);
  }

.item1 { grid-area: header; }
.item2 { grid-area: header2; }
.gridContact {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'header2 header2 header2 header2 header2 header2';
    /* grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto; */
    gap: 1px;
    background-image: var(--background-blend-linear1);
    padding: 3px;
  }


  .gridContact > div {
    text-align: center;
    padding: 20px 200px;
    font-size: 30px;
  }

  .gridContact h1 {
    color: var(--heading1-clr);
    font-size: var(--fs-heading);
  }
  
  .gridContact h2 {
    color: var(--heading2-clr)
  }
  