/* Resume CSS */

.flexEducation {
  display: flex;
  flex-flow: column wrap;
  background-image: var(--background-blend-linear1);
  padding: 0em;
  /* width: var(--screen-width); */
}

.flexEducation p{
  visibility: hidden;
  color: var(--color-hero-h3);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 0%;
  background-image: var(--hero-blend-h3);
  animation: flexp linear;
  animation-timeline: view();
}

@keyframes flexp {
  to {
    background-size: 100% 100%;
  }
}

.flexEducation dl, dt, ul, li{
 color:var(--primary-theme1);
}

.flexEducation h1 {
  margin: 2em 0em .5em;
  padding: 1.5em 0em;
  color: var(--primary-theme1);
  text-shadow: .03em .03em var(--secondary-theme2);
}

.flexEducation h3 {
  color: var(--alt-theme3);
  text-shadow: .02em .02em var(--table-heading);
}

.flexEducation h6{
  color: var(--alt-theme2);
}
.flexEducation h5{
  color: var(--secondary-theme2);
}

.flexEducation>div {
  color: var(--primary-theme1);
  text-align: center;
  padding: 0em;
  font-size: var(--fs-heading);
}

.flexEducation>div .button {
  display: inline-block;
  text-decoration: none;
  color: var(--alt-theme3);
  background-color: var(--primary-theme1);
  border: .1em solid var(--alt-theme3);
  border-radius: .2em;
  /* box-shadow: 0em .1em var(--clr-7); */
}

.flexEducation>div .button:hover {
  border: .2em solid var(--alt-theme2);
}

.flexEducation table {
  margin: 1em 2em 1em 1em;
  background-image: url(../app/resources/marek-piwnicki-w4sxddUJ5-0-unsplash.jpg), url(../app/resources/peter-olexa-01mFm_giy38-unsplash.jpg), url(../app/resources/k-k-RnPuMyvPtss-unsplash.jpg);
  background-size: 22em;
  background-repeat: repeat;
  background-blend-mode: color-burn; 
  /* border: ridge .02em var(--border-clr3); */
  border-collapse: collapse;
  overflow-x: clip;
  overflow-clip-margin: .3em;
  /* width: max(100% - 1rem); */
}
.flexEducation .a {
  font-weight: var(--fw-bright);
  color: var(--table-clr1);
  font-family: var(--font-sec);
  padding: .5em;
  font-size: 1.1em;
}

.flexEducation .a:hover {
  font-weight: var(--fw-bright-wow);
  color: var(--site-white);
}


.flexEducation th,
.flexEducation td {
  text-align: left;
}

.flexEducation td{
  color:var(--table-clr2);
  padding: .2em;
  text-align: left;
  text-shadow: .02em .02em var(--table-heading);
}

.flexEducation caption {
  font-family: var(--font-sec);
  font-size: var(--fs-heading-light);
  font-style: italic;
  font-weight: var(--fw-bright-wow);
  color: var(--table-caption);
  padding: 0em 0em 1em 0.5em;
  text-shadow: .02em .02em var(--table-heading);
}


.flexEducation th {
  vertical-align: bottom;
  background-color: var(--table-heading-back);
  color: var(--table-heading);
  padding: .5em .2em .5em .3em;
  font-weight: bold;
  text-shadow: .02em .02em var(--table-clr1);
}

.flexEducation tr:nth-of-type(2n) {
  background: var(--Tableback);
}

.flexEducation tr:nth-of-type(2n)>td {
  color: var(--table-clr1);
}

@media(max-width: 1250px) {
  .flexEducation{
    margin: auto;
    padding: auto;
    text-align: left;
    text-wrap: wrap;
  }

  .flexEducation>div{
    margin: auto;
    padding: auto;
    text-align: left;
    text-wrap: wrap;
  }

  .flexEducation table {
    flex: 100%;
    width: 100%;
    margin: .01em 2em .01em .01em;

  }

  .flexEducation th {
    display: none;
  }

  .flexEducation td {
    display: grid;
    grid-template-columns: auto;
    padding: .5rem 1rem;
    color:var(--table-clr1);
    background-image: url(../app/resources/marek-piwnicki-w4sxddUJ5-0-unsplash.jpg), url(../app/resources/peter-olexa-01mFm_giy38-unsplash.jpg), url(../app/resources/k-k-RnPuMyvPtss-unsplash.jpg);
    background-size: 22em;
    background-repeat: repeat;
    background-blend-mode: color-burn;
    border: solid .02em var(--primary-theme1);
  }

  .flexEducation td:first-child {
    padding-top: 2.5rem;
  }

  .flexEducation td:last-child {

    padding-bottom: 2.5rem;
  }

  .flexEducation td::before {
    content: attr(data-cell) ": ";
    font-weight: var(--fw-bright-wow);
    text-transform: capitalize;
  }
}