/*Header CSS Module*/
/*
Burn Pictures:
K K
https://unsplash.com/photos/white-clouds-during-daytime-RnPuMyvPtss

Abstract blue and white:
Peter Olexa
https://unsplash.com/photos/blue-and-white-abstract-painting-01mFm_giy38


PGA profile picture
Taken 2012 by J. Bedient
*/

  .flexHero {
    background-image:  url(../app/resources/k-k-RnPuMyvPtss-unsplash.jpg), url(../app/resources/peter-olexa-01mFm_giy38-unsplash.jpg);
    background-size: 105em;
    background-repeat: repeat;
    background-blend-mode:hard-light; 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: var(--screen-width);
    
  }



  .flexHero > div {
    background-image: url(../app/resources/profile.png), url(../app/resources/k-k-RnPuMyvPtss-unsplash.jpg), url(../app/resources/peter-olexa-01mFm_giy38-unsplash.jpg);
    background-size: 12em;
    background-repeat: repeat;
    background-blend-mode: color-burn; 
    text-align: center;
    padding: 1em 2em;
    margin: 10em 7em 3em 7em;
    margin-inline: auto; 
    font-size: inherit;
  }

 
/* For Home link*/
.flexHero h1{
  padding: 1em 1em .2em 1em;
  font-size: 3.5em;
  font-family: var(--font-sec);
  color: var(--primary-theme1);
  text-shadow: .04em .04em var(--border-clr3);
}



.flexHero h3 {
  padding: 2px;
  font-family: var(--font-sec);
  font-size: var(--fs-subhead);
  color: var(--color-hero-h3, rgba(255, 255, 255, .2)); 
  background-clip: text;
  background-image: var(--hero-blend-h3);
}

.flexHero h3:hover {
  color: var(--hover-color-hero-h3, rgba(255, 255, 255, .2)); 
  background-clip: text;
  background-image: var(--hero-blend-h3-hover);
}
.flexHero .homeLink{
  z-index: -1;
}


.flexHero .homeLink::before {
  background: var(--color-hero-h3);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 950ms ease-in-out;
  z-index: -1;

}

.flexHero .homeLink:hover::before {
  transform: scaley(1);
  animation: colorback 5000ms infinite;
}


.flexHero h5 {
  font-size: .7em;
  color: var(--alt-theme3);
  font-family: papyrus;
}

@keyframes colorback {
  0% {
    background-color: var(--site-black);
  }

  10% {
    background-color: var(--site-black2);
  }

  25% {
    background-color: var(--site-black);
  }

  50% {
    background-color: var(--site-white2);
  }

  75% {
    background-color: var(--site-black);
  }

  90% {
    background-color: var(--site-black2);
  }

  100% {
    background-color: var(--site-black);
  }
}

@keyframes backback {
  0% {
    background-image: var(---background-blend-linear1);
  }

  10% {
    background-image: var(---background-blend-linear2);
  }

  25% {
    background-image: var(---background-blend-linear3);
  }

  50% {
    background-image: var(---background-blend-linear4);
  }

  75% {
    background-image: var(---background-blend-linear3);
  }

  90% {
    background-image: var(---background-blend-linear2);
  }

  100% {
    background-image: var(---background-blend-linear1);
  }
}

@media (max-width: 1250px){
  .flexHero>div{
    text-align: left;
    overflow-x: clip;
    overflow-y: visible;
  }
  .flexHero h1{
    text-align: left;
    padding: 1.5em .2em .2em .2em;
  }
}

@media(max-width: 650px){
  .flexHero h1{
    margin: 2em 0em;
  }
 }
