/* History CSS */


.flexHistory {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .5em;
  background-image: var(--background-blend-linear1);
  flex-flow: row wrap;
}


.flexHistory>div {
  text-align: left;
  padding: 1em 1em;
  font-size: 1em;
}

.flexHistory img {
  padding: 5em 0em 1em 1.7em;
}


.flexHistory h1 {
  padding: 1.5em 0em .5em;
  font-family: var(--font-sec);
  font-size: 2.5em;
  color: var(--primary-theme1);
  text-shadow: .03em .03em var(--alt-theme4);
}

.flexHistory h3 {
  padding: .3em 0em .5em;
  font-family: var(--font-sec);
  font-size: 2em;
  color: var(--secondary-theme2);
  text-shadow: .03em .03em var(--primary-theme1);
}

.flexHistory h4 {
  padding: .3em 3em .3em;
  font-family: var(--font-sec);
  font-size: 1.7em;
  color: var(--secondary-theme2);
  text-shadow: .03em .03em var(--primary-theme1);
}

@media (max-width: 1050px) {}