/* History CSS */

.item1 { grid-area: header; }
.item2 { grid-area: subheader;}
.item3 { grid-area: menu; }
.item4 { grid-area: main; }



.gridContainer {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'subheader subheader subheader subheader subheader subheader'
    'menu main main main main main';
    /* grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto; */
    gap: 11px;
    background-image: radial-gradient(var(--primary-theme1), var(--alt-theme3));
    padding: 10px;
  }


  .gridContainer > div {
    background-image: radial-gradient(var(--alt-theme4), var(--alt-theme3));
    text-align: center;
    padding: 20px 20px;
    font-size: 30px;
  }


