/* Projects CSS */

/* .item1 { grid-area: header; } */


.flexContainer  {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(var(--primary-theme1), var(--alt-theme4));
  background-size: auto;
  max-width: var(--width);
  flex-wrap: wrap;
}

.flexContainer > div {
  background-image: radial-gradient(var(--secondary-theme1), var(--alt-theme2));
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: calc(85*var(--width));
  justify-content: center;
}

/* .gridContainer {
    display: grid;
    grid-template-rows: auto; 
    gap: 1px;
    background-image: radial-gradient(var(--secondary-theme1), var(--alt-theme2));
    padding: 3px;

  } */


  .flexContainer > div {
    background-image: radial-gradient(var(--primary-theme1), var(--alt-theme3));
    text-align: center;
    padding: 20px 20px;
    font-size: 30px;

  }

  .gridContainer:nth-child(1) {
    background-image: radial-gradient(var(--primary-theme1), var(--alt-theme3));
    text-align: center;
    padding: 20px 20px;
    font-size: 30px;

  }


  table {
    margin: 1em 0;
    border-collapse: collapse;
  /*   width: 100%; */
  }
  
  caption {
    text-align: left;
    font-style: italic;
    color: var(--table-caption);
    background-color: var(--table-caption-back) ;
    padding: 0.25em 0.5em 0.5em 0.5em;
    /* border: var(--alt-border);
    border-radius: var(--alt-border-rad); */
  }
  
  th,
  td {
    padding: 0.25em 0.5em 0.25em 1em;
    vertical-align: text-top;
    text-align: left;
    text-indent: -0.5em;
  }
  
  th {
    vertical-align: bottom;
    background-color: var(--table-back);
    color: var(--table-heading);
    font-weight: bold;
  }
  
  td::before {
    display: none;
  }
  
  tr:nth-child(even) {
    background-color: var(--table-row-clr);
  }
  
  tr:nth-child(odd) {
    background-color: var(--table-row-clr-alt);
  }
  
  td:nth-of-type(2) {
    font-style: italic;
  }
  
  th:nth-of-type(4){
    text-align: left;
  }
  td:nth-of-type(4) {
    text-align: center;
  }
  
  div {
    overflow: auto;
  }
  
  @media screen and (max-width: 37em), print and (max-width: 5in) {
    table,
    tr,
    td {
      display: block;
    }
    tr {
      padding: 0.7em 2vw;
    }
    th,
    tr:first-of-type {
      display: none;
    }
    td::before {
      display: inline;
      font-weight: bold;
    }
    td {
      display: grid;
      grid-template-columns: 4em auto;
      grid-gap: 1em 0.5em;
    }
    caption {
      font-style: normal;
      background-color: var(--table-caption-back);
      color: var(--table-caption);
      font-weight: bold;
    }
    td:nth-of-type(3) {
      text-align: left;
    }
    td:nth-of-type(4), td:nth-of-type(5) {
      text-align: right;
      width: 12em;
    }
    td:nth-of-type(4)::before, td:nth-of-type(5)::before {
      text-align: left;
    }
    td:nth-of-type(2)::before {
      font-style: normal;
    }
  }
  
  @media print {
    body {
      font-size: 6pt;
      color: var(--table-clr1);
      background-color: var(--table-clr2);
      background-image: none;
    }
    body,
    main {
      margin: 0;
      padding: 0;
      background-color: var(--table-clr2);
      border: none;
    }
    table {
      page-break-inside: avoid;
    }
    div {
      overflow: visible;
    }
    th {
      color: var(--table-clr1);
      background-color: var(--table-clr2);
      border-bottom: 1pt solid var(--table-clr1);
    }
    tr {
      border-top: 1pt solid var(--table-clr1);
    }
  }
  
  @media print and (max-width: 5in) {
    caption {
      color: var(--table-caption);
      background-color: var(--table-clr2);
      border-bottom: 1pt solid var(--table1);
    }
    table {
      page-break-inside: auto;
    }
    tr {
      page-break-inside: avoid;
    }
  }