/* Projects CSS */

.row {
    background-image: radial-gradient(var(--clr-1), var(--clr-4));
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}