/* Projects CSS */


.flexProject {
  display: flex;
  flex-flow: column wrap;
  /* align-items: center; */
  background-image: radial-gradient(var(--primary-theme1), var(--alt-theme4));
  /* background-size: auto; */
  /* width: max(100%-3rem); */
  /* flex-wrap: wrap; */
}



  .flexProject > div {
    background-image: radial-gradient(var(--primary-theme1), var(--alt-theme3));
    text-align: center;
    font-size: 30px;

  }

  .flexProject table {
    margin: 1em 3em 1em 0em;
    background: var(--Tableback);
    border-collapse: collapse;
     
  }
  
  .flexProject caption, .flexProject th, .flexProject td {
     text-align: left;
  }


  .flexProject caption { 
    font-style: italic;
    font-weight: var(--fw-bright-wow);
    color: var(--table-caption);
    padding: 0.25em 0.5em 0.5em 0.5em;
  }
  
  
  .flexProject th {
    vertical-align: bottom;
    padding: .5em;
    background-color: var(--table-heading-back);
    color: var(--table-heading);
    font-weight: bold;
  }
  

  .flexProject tr:nth-of-type(2n){
    background: var(--table-clr-3);

  }

  @media(max-width: 930px){
    .flexProject table{
      flex:100%;
      width: 100%;
    }
    .flexProject th{
      display: none;
    }
    .flexProject td{
      display: grid;
      grid-template-columns: auto; 
      padding: .5rem 1rem;
    }

    .flexProject td:first-child{
      padding-top: 2.5rem;
    }
    .flexProject td:last-child{

      padding-bottom: 2.5rem;
    }

    .flexProject td::before{
      content: attr(data-cell) ": ";
      font-weight: var(--fw-bright-wow);
      text-transform: capitalize;
    }
  }


