/* Resume CSS */


.item1 { grid-area: header; }
.item2 { grid-area: subheader;}
.item3 { grid-area: menu; }
.item4 { grid-area: main; }



.gridContainer {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'subheader subheader subheader subheader subheader subheader'
    'menu main main main main main';
    /* grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto; */
    gap: 1px;
    background-image: radial-gradient(var(--clr-2), var(--clr-4));
    padding: 3px;
  }


  .gridContainer > div {
    background-image: radial-gradient(var(--clr-1), var(--clr-5));
    text-align: center;
    padding: 20px 20px;
    font-size: 30px;
  }