/* SiteMap CSS */


.flexSite {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5em;
    background-image: var(--background-blend-linear1);
  flex-flow: row wrap;
  }


  .flexSite > div {
    text-align: left;
    padding: 1em 1em;
    font-size: 1em;
  }

  .flexSite h1 {
    padding: 1em;
    color: var(--primary-theme1);
  }


