@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  /*blur effect*/
  .card {
    background-image: var(--background-blend-linear2);
    border-radius: .9em;
    aspect-ratio: 1 / .3;
    width: 9em;
    height: auto;
    padding: .1em;
    position: relative;
    z-index: 1;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    inset: -.7em;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle),
            var(--card-theme1),
            var(--card-theme2),
            var(--card-theme3),
            var(--card-theme2),
            var(--card-theme4),
            var(--card-theme1),
            var(--card-theme2),
            var(--card-theme3),
            var(--card-theme2),
            var(--card-theme1)
            );
    border-radius: inherit;
    animation: rotation 20000ms linear infinite;
}

.card::after {
    filter: blur(3.5em);
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}

.card>dl {
    color: var(--primary-theme1);
}

.card>dl a {
    color: var(--link3-clr);
}

.card>dl a:hover {
    color: var(--link3-hover);
}

.card>dl span {
    color: var(--site-white);
}