:root {
  /*OLD NOMENCLATURE DEPRECATE*/
  --clr-1: aqua;
  /* deprecating soon */

  --clr-2: magenta;
  /* deprecating soon */

  --clr-3: #a424ff;
  /* deprecating soon */

  --clr-4: #cffbff;
  /* deprecating soon */

  --clr-5: slateblue;
  /* deprecating soon */

  --clr-6: rgb(0, 0, 0);
  /* deprecating soon */

  --clr-7: rgb(50, 50, 108);
  /* deprecating soon */

/*New Nomenclature*/
  /*COLORS*/
  /*wHITE/BLACK/BASE*/
  --site-black: black; /*clr6*/
  --site-white: white; /*clr4 sort of alt*/


  /*primary Theme Colors*/
  --primary-theme1: aqua; /*clr1*/
  --primary-theme2: rgb(121, 208, 208); /*clr1alt*/



  /*Secondary Theme Colors*/
  --secondary-theme1: magenta; /*clr2*/
  --secondary-theme2: rgb(194, 21, 194); /*clr2alt*/

  /*Alternative schema -- basically, extra colors*/
  --alt-theme1: rgb(50, 50, 108); /*clr7*/
  --alt-theme2: #cffbff; /*clr4*/
  --alt-theme3: slateblue; /*clr5*/
  --alt-theme4: #a424ff; /*clr4*/



  /*Link Colors*/
  --link-clr1: slateblue;
  --link-clr2: #a424ff;



  /*BORDERS*/

  /*border clr*/
  --border-clr1: rgb(50, 50, 108);
  --border-clr2: rgb(25, 25, 125);

  /*Borders Full def*/
  --site-border: 2px solid var(--border-clr1);
  --site-border-rad: .3em;
  --alt-border: 2px solid var(--border-clr2);

/*BACKGROUNDS*/
--container-background: rgb(50, 50, 108);
--background-blend-radial1: radial-gradient(var(--secondary-theme1), var( --primary-theme1));
--background-blend-radial2: radial-gradient(var(--primary-theme1), var( --secondary-theme1));




  --font-main: Georgia;
  --font-sec: papyrus;

  --fw-norm: 300;
  --fw-normbr: 500;
  --fw-bright: 700;
  --fw-bright-wow: 900;

  --fs-heading: 3.7em;
  --fs-heading-light: 2.2em;
  --fs-subhead: 1.2em;
  --fs-pagehead: 1.2em;
  --fs-text: 1em;

  --width: 85em;



}

.App {
  text-align: auto;
}


h1 {
  color: var(--primary-theme1);
  font-size: var(--fs-heading);
}

h2 {
  color: var(--primary-theme1)
}

/* Used in SubHead */
h3 {
  padding: 2px;
  font-family: var(--font-sec);
  font-size: var(--fs-subhead);
  color: var(--alt-theme2);
  font-weight: var(--fw-bright)
}


h3:hover {
  color: var(--alt-theme2)
}

h3::before {
  background: var(--alt-theme3);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 950ms ease-in-out;
  z-index: -1;

}

h3:hover::before {
  transform: scaley(1);
  animation: colorback 7500ms infinite;
}

@keyframes colorback {
  0% {
    background-color: var(--secondary-theme1);
  }

  10% {
    background-color: var(--alt-theme4);
  }

  25% {
    background-color: var(--primary-theme1);
  }

  50% {
    background-color: var(--alt-theme3);
  }

  75% {
    background-color: var(--primary-theme1);
  }

  90% {
    background-color: var(--alt-theme4);
  }

  100% {
    background-color: var(--secondary-theme1);
  }
}

/*Use exclusively for footer links*/
h5 {
  font-size: .7em;
  color: var(--alt-theme3);
  font-family: papyrus;
}