:root {
--clr-1: aqua;
  --clr-2: magenta;
  --clr-3: #a424ff;
  --clr-4: #cffbff;
  --clr-5: slateblue;
  --clr-6: aqua;
  --clr-7: rgb(50, 50, 108);


  --font-main: Georgia;
  --font-sec: papyrus;

  --fw-norm: 300;
  --fw--normbr: 500;
  --fw--bright: 700;
  --fw--bright-wow: 900;

  --fs-heading: 65px;
  --fs-subhead: 45px;
  --fs-pagehead: 40px;


}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
  color:cadetblue;
  background-color: azure;
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
} */

/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(121, 136, 121);
}

.App-link {
  color: rgb(63, 159, 172);
} */



.headstyle {
  color: var(--clr-7);
  padding: 8px;
  font-size: var(--fs-heading);
  font-family: var(--font-main)
}

.site-footer {
  background-image: radial-gradient(var(--clr-1), var(--clr-7));
  padding: 20px 0;
  height: 20vmax;
  width: auto;
  margin-top: var(--clr-1) 4rem;
  border-top: grey 5px solid ridge;
  font-family: var(--font-main);
}

.site-header {
  background-image: radial-gradient(var(--clr-1), var(--clr-7));
  padding: 20px 0;
  margin-top: var(--clr-1) 4rem;
  border-top: var(--clr-4) solid;
  font-family: var(--font-main);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);

  }
  100% {
    transform: translateY(0px);
  }
}

/* Used in SubHead */
h3 {
  padding: 2px;
  font-family: var(--font-sec);
  font-size: var(--fs--subhead);
  color: var(--clr-1);
  font-weight: var(--fw--bright)
}


h3:hover {
  color: var(--clr-4)
}

h3::before {
  background: var(--clr-5);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 950ms ease-in-out;
  z-index: -1;

}

h3:hover::before {
  transform: scaley(1);
  animation: colorback 7500ms infinite;
}

@keyframes colorback {
  0% {
      background-color: var(--clr-2);
  }

  10% {
      background-color: var(--clr-3);
  }

  25% {
      background-color: var(--clr-1);
  }

  50% {
      background-color: var(--clr-5);
  }

  75% {
      background-color: var(--clr-1);
  }

  90% {
      background-color: var(--clr-3);
  }

  100% {
      background-color: var(--clr-2);
  }
}