
:root {
  /*New Nomenclature*/

  /*COLORS*/
  /*wHITE/BLACK/BASE*/
  --site-black: black;
  --site-white: white;

  /*primary Theme Colors*/
  --primary-theme1: rgba(0,255,255,1);
  --primary-theme2: rgba(25, 35, 156,1);
  --primary-theme3: rgba(0,200,255,1);


  --primary-border-theme1: rgba(0, 0, 0,.9);
  --primary-border-theme2: rgba(45, 50, 125,.9);

  /*Secondary Theme Colors*/
  --secondary-theme1: magenta;
  --secondary-theme2: rgba(146, 19, 146,1);


  /*Alternative schema -- basically, extra colors*/
  --alt-theme1: rgb(50, 50, 108);
  --alt-theme2: #cffbff;
  --alt-theme3: slateblue;
  --alt-theme4: #a424ff;

  --card-theme1: rgba(50, 50, 108,1);
  --card-theme2: black;
  --card-theme3: slateblue;
  --card-theme4: rgba(25, 35, 156,1);

  /*Link Colors*/
  --link1-clr: rgba(0,255,255,1);
  --link1-hover: rgba(120, 134, 255,1);

  --link2-clr: rgba(0,255,255,1);
  --link2-hover: #cffbff;

  --link3-clr:  rgba(146, 19, 146,1);
  --link3-hover: #cffbff;

  /*Heading Colors*/
  --heading1-clr: rgba(0,200,255,1);
  --heading1-hover: #cffbff;

  --heading2-clr: rgba(0,255,255,1);
  --heading2-hover: #cffbff;


  --heading3-clr: #cffbff;
  --heading3-hover: #a424ff;


  --heading4-clr: #cffbff;
  --heading4-hover: #a424ff;


  --heading5-clr: #a424ff;
  --heading5-hover: aqua;


  --heading6-clr: slateblue;
  --heading6-hover: aqua;

  --heading7-clr: slateblue;
  --heading7-hover: aqua;

/*Table*/
--Tableback: rgba(0,155,255,.7);
--table-clr1: rgb(146, 19, 146);
--table-clr2: white;
--table-back: rgba(0,100,222,.7);
--table-row-clr: rgba(255, 255, 255, .25);
--table-row-clr-alt: rgba(255, 255, 255, 0.5);
--table-heading: aqua;
--table-caption: slateblue;
--table-caption-back: rgba(0,100,222,.3);


  /*BORDERS*/

  /*border clr*/
  --border-clr1: rgba(50, 50, 108,1);
  --border-clr2: rgba(25, 35, 156,1);
  --border-clr3: rgba(5, 95, 255,.9);


  /*Borders Full def*/
  --site-border: 5px solid var(--border-clr1);
  --site-border-rad: .3em;
  --alt-border: 2px solid var(--border-clr2);
  --alt-border-rad: .5em;
  /*BACKGROUNDS*/
  --container-background: rgba(50, 50, 108, 1);
  --container-background2: rgba(0, 255, 255, .8);
  --container-background-radial4: radial-gradient(var(--primary-border-theme2), var(--primary-border-theme1));
  --background-blend-radial1: radial-gradient(var(--site-black), var(--primary-theme1));
  --background-blend-radial2: radial-gradient(var(--primary-theme1), var(--site-black));
  --background-blend-radial3: radial-gradient(var(--site-white), var(--secondary-theme1));
  --background-blend-radial4: radial-gradient(var(--primary-theme2), var(--site-black));
  --background-blend-radial5: radial-gradient(var(--site-black), var(--site-black));
  --background-blend-linear1: linear-gradient(to right, var(--primary-theme2),var(--primary-theme1),var(--primary-theme2),var(--site-black), var(--site-black),var(--primary-theme2));
  --background-blend-linear2: linear-gradient(to right,var(--primary-theme2), var(--primary-theme1),var(--site-black),var(--primary-theme2), var(--site-black),var(--primary-theme2));

  /*Site Map*/
  --sm1-clr: slateblue;
  --sm1-hover: #cffbff;
  --sm-border: 2px solid var(--border-clr2);
  --sm-border-rad: .7em;


  --font-main: Georgia;
  --font-sec: papyrus;

  --fw-norm: 300;
  --fw-normbr: 500;
  --fw-bright: 700;
  --fw-bright-wow: 900;

  --fs-heading: 3.7em;
  --fs-heading-light: 2.2em;
  --fs-subhead: 1.2em;
  --fs-pagehead: 1.2em;
  --fs-text: 1em;
  --fs-link: 1.5em;
  --fs-link2: 1.1em;
  --fs-link-hover: 1.5em;

  --width: 85em;
}

.App {
  text-align: auto;
}

.fallback,
#fallback {
  color: var(--alt-theme4);
}



