/*Footer CSS Module*/


.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: var(--background-blend-radial4);
  /* background-image: url(../app/profile.png); */
  border: 2px solid var(--border-clr2);
  padding: 5px;
  background-repeat:no-repeat;
  background-size: auto;
  max-width: var(--width);
  flex-wrap: nowrap;
  columns: 3;

}


.footer > :nth-child(even) {
  background-color: var(--container-background);
  margin: .7em;
  padding: 1em;
  font-size: .5em;
  max-width: fit-content;
}

.footer > :nth-child(odd) {
  margin: 1em;
  padding: 1em;
  font-size: .7em;
  max-width: fit-content;
}


.profile {
  size: inherit;
}


.a {
  font-size: var(--fs-link2);
  color: var( --link2-clr);
  font-family: var(--font-sec);
}

.a:hover {
  font-weight: var(--fw-bright);
  color: var( --link2-hover);

}

.l {
  font-size: var(--fs-link);
  color: var(--link2-clr);
  font-family: var(--font-sec);
}

.l:hover {
  font-weight: var(--fw-bright);
  color: var( --link2-hover);

}

@media (max-width: 850px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
}