/*Footer CSS Module*/


.footer {
  background-image: radial-gradient(var(--clr-2), var(--clr-6));
  /* background-image: url(../app/profile.png); */
  border: 2px solid black;
  padding: 25px;
  background-repeat:repeat;
  background-size: auto;
}


.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile {
  size: inherit;
}