/*Footer CSS Module*/


.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: radial-gradient(var(--clr-2), var(--clr-1));
  /* background-image: url(../app/profile.png); */
  border: 2px solid var(--clr-5);
  padding: 5px;
  background-repeat:no-repeat;
  background-size: auto;
  max-width: var(--width);
  flex-wrap: nowrap;
  columns: 3;

}


.footer > :nth-child(even) {
  background-color: var(--clr-7);
  margin: .7em;
  padding: 1em;
  font-size: .5em;
  max-width: fit-content;
}

.footer > :nth-child(odd) {
  margin: 1em;
  padding: 1em;
  font-size: .7em;
  max-width: fit-content;
}


.profile {
  size: inherit;
}


.a {
  font-size: 1.4em;
  color: var( --link-clr2);
  font-family: papyrus;
}

.l {
  font-size: 1.4em;
  color: var(--link-clr2);
  font-family: papyrus;
}

@media (max-width: 850px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
}