/*Header CSS Module*/

  
  .flexContainer {
    background-image: url(../app/profile.png), url(../app/k-k-RnPuMyvPtss-unsplash.jpg);
    background-size: 15em;
    background-repeat: repeat;
    background-blend-mode: color-burn;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: .5;
  }

  .flexContainer > :nth-child(odd) {
    background-image: var( --background-blend-radial4); 
    text-align: center;
    padding: 20px 15px;
    font-size: inherit;
    max-width: max-content;
  }

  .flexContainer > :nth-child(even) {
    background-image: var( --background-blend-radial2);
    text-align: center;
    padding: 20px 0px;
    font-size: inherit;
    max-width: inherit;
  }


@media (max-width: 75em) {
    .flexContainer {
      flex-wrap: wrap;
    }
  }

@media (max-width: 60em) {
  .flexContainer {
    flex-wrap: wrap;
    max-width: auto;

  
  }
  .flexContainer>:nth-child(odd){
    max-width: auto;
  }
  .flexContainer>:nth-child(even){
    max-width: auto;
  }
} 
 

