/*Footer CSS Module*/

  .div {
    background-image: radial-gradient(var(--clr-3), var(--clr-5));
    /* background-image: url(../app/profile.png); */
    border: 5px solid var(--clr-1);
    padding: 25px;
    background-repeat:repeat;
    background-size: auto;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  

