/*Footer CSS Module*/

  .header {
    background-image: radial-gradient(var(--clr-2), var(--clr-6));
    padding: 2px 0;
    height: 15vmax;
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: var(--clr-1) 4rem;
    border-top: grey 5px solid ridge;
    font-family: var(--font-main);
  }
  

  
  /* Used in SubHead */
  .footer>h3 {
    padding: 2px;
    font-family: var(--font-sec);
    font-size: var(--fs--subhead);
    color: var(--clr-1);
    font-weight: var(--fw--bright)
  }
  
  
  .footer>h3:hover {
    color: var(--clr-4)
  }
  
  .footer>h3::before {
    background: var(--clr-5);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 950ms ease-in-out;
    z-index: -1;
  
  }
  
  .footer>h3:hover::before {
    transform: scaley(1);
    animation: colorback 7500ms infinite;
  }
  
  @keyframes colorback {
    0% {
        background-color: var(--clr-2);
    }
  
    10% {
        background-color: var(--clr-3);
    }
  
    25% {
        background-color: var(--clr-1);
    }
  
    50% {
        background-color: var(--clr-5);
    }
  
    75% {
        background-color: var(--clr-1);
    }
  
    90% {
        background-color: var(--clr-3);
    }
  
    100% {
        background-color: var(--clr-2);
    }
  }
  