/* Nav CSS Module */
.container {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 10;
  /* background-image: var(--background-blend-radial4); */
  width: var(--screen-width);

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(../app/peter-olexa-01mFm_giy38-unsplash.jpg), url(../app/k-k-RnPuMyvPtss-unsplash.jpg);
  background-size: 22em;
  background-repeat: repeat;
  background-blend-mode: color-burn; 
}

li {
  float: left;
  font: var(--font-sec)
}

.profile {
  float: right;
  font: var(--font-sec);
  color: var(--primary-theme1);
  /* margin: 5px; */
  padding: 1em;
  text-align: center;
}

.title{
  display: none;
}

/* @media(max-width: 1100px){
  .title{
    display: inline-block;
    background-image: var(--background-blend-radial4);
    width: 100%;
    text-align: center;
    color: var(--primary-theme1) ;
    padding: .1em;
    text-shadow: .05em .05em var(--secondary-theme2);
    font-size: var(--fs-heading-light);
  }
} */

li .n,
.dropBtn {
  display: inline-block;
  color: var(--primary-theme1);
  text-align: center;
  padding: 14px 16px;
  font: papyrus;
  text-decoration: none;
}

li .n:hover,
.dropDown:hover .dropBtn {
  background-color: var(--alt-theme3);
}

li.dropDown {
  display: inline-block;
}
.container .a {
  font-weight: var(--fw-bright);
  font-size: 1em;
  color: var( --link1-clr);
  font-family: var(--font-sec);
  padding: 1em 1em;
  text-shadow: .05em .05em var(--secondary-theme2);
}

.container .a:hover {
  font-weight: var(--fw-bright-wow);
  font-size: 1em;
  color: var( --link1-hover);
}

.dropBtn {
  font: papyrus;
  color: var(--primary-theme1);
}

.dropDownContent {
  display: none;
  position: absolute;
  background-image: radial-gradient(var(--alt-theme1), var(--primary-theme1));
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropDownContent .n {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropDownContent a:hover {
  color: var(--primary-theme1);
  background-color: var(--alt-theme1);
}

.dropDown:hover .dropDownContent {
  display: block;

}

.n {
  font-size: 1.4em;
  color: var(--primary-theme1);
  font-family: papyrus;
  text-shadow: .07em .03em var(--border-clr3);
}

.borderNav{
  border-bottom: ridge;
  border-bottom-color: var(--border-clr1);

 } 